In [2]:
import pandas as pd
import numpy as np
import requests

## 수집할 URL 정하기

In [8]:
# item_code = "323410"
# item_name = "카카오뱅크"

item_code = "005930"
item_name = "삼성전자"
page_no = 1

# 종목 URL 만들기
url = f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}"
print(url)

https://finance.naver.com/item/sise_day.naver?code=005930&page=1

## requests를 통한 HTTP 요청

In [20]:
# headers= : 봇이 아니고 브라우저라고 알려주는 용도
response = requests.get(url, headers={"user-agent": "Mozilla/5.0"})
response

In [15]:
# 비구조화된 html 문서
response.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.09.28</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">53,000</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">53,900</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">54,400</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">52,800</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">10,187,215</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.09.27</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">54,200</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t300\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">53,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">54,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">53,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">16,631,289</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.09.26</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">53,900</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t600\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">53,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">54,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">53,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">15,008,449</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.09.23</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">54,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t100\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">54,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">54,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">54,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">10,555,964</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.09.22</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">54,400</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t900\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">54,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">54,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">54,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">12,786,510</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.09.21</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">55,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">55,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">55,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">55,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,863,700</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.09.20</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">55,800</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t600\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">56,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">57,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">55,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">14,041,465</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.09.19</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">56,400</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">56,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">57,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">56,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">12,278,653</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.09.16</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">56,200</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">55,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">56,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">55,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">13,456,503</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.09.15</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">56,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t800\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">57,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">57,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">56,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,664,819</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t\n                \n                <td class="on">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=660"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>'

## BeautifulSoup 을 이용하여 table 찾기
* 파싱을 목적으로 개발

In [21]:
from bs4 import BeautifulSoup as bs

In [23]:
# html 문서 구조화
html = bs(response.text)
html

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버 금융</title>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/newstock.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/common.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/main.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/newstock2.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/newstock3.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/css/world.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script language="JavaScript">
function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
</script>
<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>
<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.28</span></td>
<td class="num"><span class="tah p11">52,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,300
				</span>
</td>
<td class="num"><span class="tah p11">53,900</span></td>
<td class="num"><span class="tah p11">54,400</span></td>
<td class="num"><span class="tah p11">52,800</span></td>
<td class="num"><span class="tah p11">12,177,199</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.27</span></td>
<td class="num"><span class="tah p11">54,200</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				300
				</span>
</td>
<td class="num"><span class="tah p11">53,800</span></td>
<td class="num"><span class="tah p11">54,200</span></td>
<td class="num"><span class="tah p11">53,500</span></td>
<td class="num"><span class="tah p11">16,631,289</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.26</span></td>
<td class="num"><span class="tah p11">53,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				600
				</span>
</td>
<td class="num"><span class="tah p11">53,700</span></td>
<td class="num"><span class="tah p11">54,200</span></td>
<td class="num"><span class="tah p11">53,600</span></td>
<td class="num"><span class="tah p11">15,008,449</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.23</span></td>
<td class="num"><span class="tah p11">54,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				100
				</span>
</td>
<td class="num"><span class="tah p11">54,400</span></td>
<td class="num"><span class="tah p11">54,900</span></td>
<td class="num"><span class="tah p11">54,200</span></td>
<td class="num"><span class="tah p11">10,555,964</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.22</span></td>
<td class="num"><span class="tah p11">54,400</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				900
				</span>
</td>
<td class="num"><span class="tah p11">54,600</span></td>
<td class="num"><span class="tah p11">54,700</span></td>
<td class="num"><span class="tah p11">54,300</span></td>
<td class="num"><span class="tah p11">12,786,510</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.21</span></td>
<td class="num"><span class="tah p11">55,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">55,400</span></td>
<td class="num"><span class="tah p11">55,500</span></td>
<td class="num"><span class="tah p11">55,000</span></td>
<td class="num"><span class="tah p11">11,863,700</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.20</span></td>
<td class="num"><span class="tah p11">55,800</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				600
				</span>
</td>
<td class="num"><span class="tah p11">56,400</span></td>
<td class="num"><span class="tah p11">57,000</span></td>
<td class="num"><span class="tah p11">55,800</span></td>
<td class="num"><span class="tah p11">14,041,465</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.19</span></td>
<td class="num"><span class="tah p11">56,400</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				200
				</span>
</td>
<td class="num"><span class="tah p11">56,300</span></td>
<td class="num"><span class="tah p11">57,000</span></td>
<td class="num"><span class="tah p11">56,000</span></td>
<td class="num"><span class="tah p11">12,278,653</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.16</span></td>
<td class="num"><span class="tah p11">56,200</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				200
				</span>
</td>
<td class="num"><span class="tah p11">55,600</span></td>
<td class="num"><span class="tah p11">56,400</span></td>
<td class="num"><span class="tah p11">55,500</span></td>
<td class="num"><span class="tah p11">13,456,503</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.15</span></td>
<td class="num"><span class="tah p11">56,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				800
				</span>
</td>
<td class="num"><span class="tah p11">57,000</span></td>
<td class="num"><span class="tah p11">57,100</span></td>
<td class="num"><span class="tah p11">56,000</span></td>
<td class="num"><span class="tah p11">11,664,819</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/item/sise_day.naver?code=005930&amp;page=1">1</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.naver?code=005930&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.naver?code=005930&amp;page=660">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
<script src="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/js/jindo.min.ns.1.5.3.euckr.js" type="text/javascript"></script>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20220923165155/js/lcslog.js" type="text/javascript"></script>
<script type="text/javascript">
        ;(function(){
            var eventType = "onpageshow" in window ? "pageshow" : "load";
            jindo.$Fn(function(){
                lcs_do();
            }).attach(window, eventType);
        })();
	</script>
</body></html>

In [24]:
html.title

In [26]:
html.title.name

'title'

In [27]:
html.title.string

'네이버 금융'

In [30]:
# a 태그 가져오기, 가장 앞에 있는 하나만 출력
html.a

In [28]:
# table 태그 가져오기
html.table

<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.28</span></td>
<td class="num"><span class="tah p11">52,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,300
				</span>
</td>
<td class="num"><span class="tah p11">53,900</span></td>
<td class="num"><span class="tah p11">54,400</span></td>
<td class="num"><span class="tah p11">52,800</span></td>
<td class="num"><span class="tah p11">12,177,199</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.27</span></td>
<td class="num"><span class="tah p11">54,200</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				300
				</span>
</td>
<td class="num"><span class="tah p11">53,800</span></td>
<td class="num"><span class="tah p11">54,200</span></td>
<td class="num"><span class="tah p11">53,500</span></td>
<td class="num"><span class="tah p11">16,631,289</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.26</span></td>
<td class="num"><span class="tah p11">53,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				600
				</span>
</td>
<td class="num"><span class="tah p11">53,700</span></td>
<td class="num"><span class="tah p11">54,200</span></td>
<td class="num"><span class="tah p11">53,600</span></td>
<td class="num"><span class="tah p11">15,008,449</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.23</span></td>
<td class="num"><span class="tah p11">54,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				100
				</span>
</td>
<td class="num"><span class="tah p11">54,400</span></td>
<td class="num"><span class="tah p11">54,900</span></td>
<td class="num"><span class="tah p11">54,200</span></td>
<td class="num"><span class="tah p11">10,555,964</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.22</span></td>
<td class="num"><span class="tah p11">54,400</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				900
				</span>
</td>
<td class="num"><span class="tah p11">54,600</span></td>
<td class="num"><span class="tah p11">54,700</span></td>
<td class="num"><span class="tah p11">54,300</span></td>
<td class="num"><span class="tah p11">12,786,510</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.21</span></td>
<td class="num"><span class="tah p11">55,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">55,400</span></td>
<td class="num"><span class="tah p11">55,500</span></td>
<td class="num"><span class="tah p11">55,000</span></td>
<td class="num"><span class="tah p11">11,863,700</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.20</span></td>
<td class="num"><span class="tah p11">55,800</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				600
				</span>
</td>
<td class="num"><span class="tah p11">56,400</span></td>
<td class="num"><span class="tah p11">57,000</span></td>
<td class="num"><span class="tah p11">55,800</span></td>
<td class="num"><span class="tah p11">14,041,465</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.19</span></td>
<td class="num"><span class="tah p11">56,400</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				200
				</span>
</td>
<td class="num"><span class="tah p11">56,300</span></td>
<td class="num"><span class="tah p11">57,000</span></td>
<td class="num"><span class="tah p11">56,000</span></td>
<td class="num"><span class="tah p11">12,278,653</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.16</span></td>
<td class="num"><span class="tah p11">56,200</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				200
				</span>
</td>
<td class="num"><span class="tah p11">55,600</span></td>
<td class="num"><span class="tah p11">56,400</span></td>
<td class="num"><span class="tah p11">55,500</span></td>
<td class="num"><span class="tah p11">13,456,503</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.09.15</span></td>
<td class="num"><span class="tah p11">56,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				800
				</span>
</td>
<td class="num"><span class="tah p11">57,000</span></td>
<td class="num"><span class="tah p11">57,100</span></td>
<td class="num"><span class="tah p11">56,000</span></td>
<td class="num"><span class="tah p11">11,664,819</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>

In [32]:
# 모든 a 태그 가져오기
html.find_all("a")[:3]

[<a href="/item/sise_day.naver?code=005930&amp;page=1">1</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=2">2</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=3">3</a>]

In [33]:
# 모든 a 태그 가져오기
html.select("a")

[<a href="/item/sise_day.naver?code=005930&amp;page=1">1</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=2">2</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=3">3</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=4">4</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=5">5</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=6">6</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=7">7</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=8">8</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=9">9</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=10">10</a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=11">
 				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
 </a>,
 <a href="/item/sise_day.naver?code=005930&amp;page=660">맨뒤
 				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
 </a>]

In [35]:
# body 안에 있는 table 태그 찾기
# 태그의 경로를 이용하여 출력 가능
html.select("body > table")

# find() 같은 기능
html.find("body").find("table")

[<table cellspacing="0" class="type2">
 <tr>
 <th>날짜</th>
 <th>종가</th>
 <th>전일비</th>
 <th>시가</th>
 <th>고가</th>
 <th>저가</th>
 <th>거래량</th>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.28</span></td>
 <td class="num"><span class="tah p11">52,900</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,300
 				</span>
 </td>
 <td class="num"><span class="tah p11">53,900</span></td>
 <td class="num"><span class="tah p11">54,400</span></td>
 <td class="num"><span class="tah p11">52,800</span></td>
 <td class="num"><span class="tah p11">12,177,199</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.27</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				300
 				</span>
 </td>
 <td class="num"><span class="tah p11">53,800</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num"><span class="tah p11">53,500</span></td>
 <td class="num"><span class="tah p11">16,631,289</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.26</span></td>
 <td class="num"><span class="tah p11">53,900</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				600
 				</span>
 </td>
 <td class="num"><span class="tah p11">53,700</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num"><span class="tah p11">53,600</span></td>
 <td class="num"><span class="tah p11">15,008,449</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.23</span></td>
 <td class="num"><span class="tah p11">54,500</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				100
 				</span>
 </td>
 <td class="num"><span class="tah p11">54,400</span></td>
 <td class="num"><span class="tah p11">54,900</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num"><span class="tah p11">10,555,964</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.22</span></td>
 <td class="num"><span class="tah p11">54,400</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				900
 				</span>
 </td>
 <td class="num"><span class="tah p11">54,600</span></td>
 <td class="num"><span class="tah p11">54,700</span></td>
 <td class="num"><span class="tah p11">54,300</span></td>
 <td class="num"><span class="tah p11">12,786,510</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr>
 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.21</span></td>
 <td class="num"><span class="tah p11">55,300</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				500
 				</span>
 </td>
 <td class="num"><span class="tah p11">55,400</span></td>
 <td class="num"><span class="tah p11">55,500</span></td>
 <td class="num"><span class="tah p11">55,000</span></td>
 <td class="num"><span class="tah p11">11,863,700</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.20</span></td>
 <td class="num"><span class="tah p11">55,800</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				600
 				</span>
 </td>
 <td class="num"><span class="tah p11">56,400</span></td>
 <td class="num"><span class="tah p11">57,000</span></td>
 <td class="num"><span class="tah p11">55,800</span></td>
 <td class="num"><span class="tah p11">14,041,465</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.19</span></td>
 <td class="num"><span class="tah p11">56,400</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">56,300</span></td>
 <td class="num"><span class="tah p11">57,000</span></td>
 <td class="num"><span class="tah p11">56,000</span></td>
 <td class="num"><span class="tah p11">12,278,653</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.16</span></td>
 <td class="num"><span class="tah p11">56,200</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">55,600</span></td>
 <td class="num"><span class="tah p11">56,400</span></td>
 <td class="num"><span class="tah p11">55,500</span></td>
 <td class="num"><span class="tah p11">13,456,503</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.15</span></td>
 <td class="num"><span class="tah p11">56,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				800
 				</span>
 </td>
 <td class="num"><span class="tah p11">57,000</span></td>
 <td class="num"><span class="tah p11">57,100</span></td>
 <td class="num"><span class="tah p11">56,000</span></td>
 <td class="num"><span class="tah p11">11,664,819</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 </table>,
 <table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
 <caption>페이지 네비게이션</caption>
 <tr>
 <td class="on">
 <a href="/item/sise_day.naver?code=005930&amp;page=1">1</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=2">2</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=3">3</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=4">4</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=5">5</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=6">6</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=7">7</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=8">8</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=9">9</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=10">10</a>
 </td>
 <td class="pgR">
 <a href="/item/sise_day.naver?code=005930&amp;page=11">
 				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
 </a>
 </td>
 <td class="pgRR">
 <a href="/item/sise_day.naver?code=005930&amp;page=660">맨뒤
 				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
 </a>
 </td>
 </tr>
 </table>]

In [38]:
# class가 type2인 table 태그 출력
html.select("table.type2")
html.select("table > type2")

[<table cellspacing="0" class="type2">
 <tr>
 <th>날짜</th>
 <th>종가</th>
 <th>전일비</th>
 <th>시가</th>
 <th>고가</th>
 <th>저가</th>
 <th>거래량</th>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.28</span></td>
 <td class="num"><span class="tah p11">52,900</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,300
 				</span>
 </td>
 <td class="num"><span class="tah p11">53,900</span></td>
 <td class="num"><span class="tah p11">54,400</span></td>
 <td class="num"><span class="tah p11">52,800</span></td>
 <td class="num"><span class="tah p11">12,177,199</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.27</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				300
 				</span>
 </td>
 <td class="num"><span class="tah p11">53,800</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num"><span class="tah p11">53,500</span></td>
 <td class="num"><span class="tah p11">16,631,289</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.26</span></td>
 <td class="num"><span class="tah p11">53,900</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				600
 				</span>
 </td>
 <td class="num"><span class="tah p11">53,700</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num"><span class="tah p11">53,600</span></td>
 <td class="num"><span class="tah p11">15,008,449</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.23</span></td>
 <td class="num"><span class="tah p11">54,500</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				100
 				</span>
 </td>
 <td class="num"><span class="tah p11">54,400</span></td>
 <td class="num"><span class="tah p11">54,900</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num"><span class="tah p11">10,555,964</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.22</span></td>
 <td class="num"><span class="tah p11">54,400</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				900
 				</span>
 </td>
 <td class="num"><span class="tah p11">54,600</span></td>
 <td class="num"><span class="tah p11">54,700</span></td>
 <td class="num"><span class="tah p11">54,300</span></td>
 <td class="num"><span class="tah p11">12,786,510</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr>
 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.21</span></td>
 <td class="num"><span class="tah p11">55,300</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				500
 				</span>
 </td>
 <td class="num"><span class="tah p11">55,400</span></td>
 <td class="num"><span class="tah p11">55,500</span></td>
 <td class="num"><span class="tah p11">55,000</span></td>
 <td class="num"><span class="tah p11">11,863,700</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.20</span></td>
 <td class="num"><span class="tah p11">55,800</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				600
 				</span>
 </td>
 <td class="num"><span class="tah p11">56,400</span></td>
 <td class="num"><span class="tah p11">57,000</span></td>
 <td class="num"><span class="tah p11">55,800</span></td>
 <td class="num"><span class="tah p11">14,041,465</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.19</span></td>
 <td class="num"><span class="tah p11">56,400</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">56,300</span></td>
 <td class="num"><span class="tah p11">57,000</span></td>
 <td class="num"><span class="tah p11">56,000</span></td>
 <td class="num"><span class="tah p11">12,278,653</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.16</span></td>
 <td class="num"><span class="tah p11">56,200</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">55,600</span></td>
 <td class="num"><span class="tah p11">56,400</span></td>
 <td class="num"><span class="tah p11">55,500</span></td>
 <td class="num"><span class="tah p11">13,456,503</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.15</span></td>
 <td class="num"><span class="tah p11">56,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				800
 				</span>
 </td>
 <td class="num"><span class="tah p11">57,000</span></td>
 <td class="num"><span class="tah p11">57,100</span></td>
 <td class="num"><span class="tah p11">56,000</span></td>
 <td class="num"><span class="tah p11">11,664,819</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 </table>]

In [45]:
html.select("table.type2 > tr")

[<tr>
 <th>날짜</th>
 <th>종가</th>
 <th>전일비</th>
 <th>시가</th>
 <th>고가</th>
 <th>저가</th>
 <th>거래량</th>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.28</span></td>
 <td class="num"><span class="tah p11">52,900</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,300
 				</span>
 </td>
 <td class="num"><span class="tah p11">53,900</span></td>
 <td class="num"><span class="tah p11">54,400</span></td>
 <td class="num"><span class="tah p11">52,800</span></td>
 <td class="num"><span class="tah p11">12,177,199</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.27</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				300
 				</span>
 </td>
 <td class="num"><span class="tah p11">53,800</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num"><span class="tah p11">53,500</span></td>
 <td class="num"><span class="tah p11">16,631,289</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.26</span></td>
 <td class="num"><span class="tah p11">53,900</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				600
 				</span>
 </td>
 <td class="num"><span class="tah p11">53,700</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num"><span class="tah p11">53,600</span></td>
 <td class="num"><span class="tah p11">15,008,449</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.23</span></td>
 <td class="num"><span class="tah p11">54,500</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				100
 				</span>
 </td>
 <td class="num"><span class="tah p11">54,400</span></td>
 <td class="num"><span class="tah p11">54,900</span></td>
 <td class="num"><span class="tah p11">54,200</span></td>
 <td class="num"><span class="tah p11">10,555,964</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.22</span></td>
 <td class="num"><span class="tah p11">54,400</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				900
 				</span>
 </td>
 <td class="num"><span class="tah p11">54,600</span></td>
 <td class="num"><span class="tah p11">54,700</span></td>
 <td class="num"><span class="tah p11">54,300</span></td>
 <td class="num"><span class="tah p11">12,786,510</span></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr>
 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.21</span></td>
 <td class="num"><span class="tah p11">55,300</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				500
 				</span>
 </td>
 <td class="num"><span class="tah p11">55,400</span></td>
 <td class="num"><span class="tah p11">55,500</span></td>
 <td class="num"><span class="tah p11">55,000</span></td>
 <td class="num"><span class="tah p11">11,863,700</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.20</span></td>
 <td class="num"><span class="tah p11">55,800</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				600
 				</span>
 </td>
 <td class="num"><span class="tah p11">56,400</span></td>
 <td class="num"><span class="tah p11">57,000</span></td>
 <td class="num"><span class="tah p11">55,800</span></td>
 <td class="num"><span class="tah p11">14,041,465</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.19</span></td>
 <td class="num"><span class="tah p11">56,400</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">56,300</span></td>
 <td class="num"><span class="tah p11">57,000</span></td>
 <td class="num"><span class="tah p11">56,000</span></td>
 <td class="num"><span class="tah p11">12,278,653</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.16</span></td>
 <td class="num"><span class="tah p11">56,200</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">55,600</span></td>
 <td class="num"><span class="tah p11">56,400</span></td>
 <td class="num"><span class="tah p11">55,500</span></td>
 <td class="num"><span class="tah p11">13,456,503</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.09.15</span></td>
 <td class="num"><span class="tah p11">56,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				800
 				</span>
 </td>
 <td class="num"><span class="tah p11">57,000</span></td>
 <td class="num"><span class="tah p11">57,100</span></td>
 <td class="num"><span class="tah p11">56,000</span></td>
 <td class="num"><span class="tah p11">11,664,819</span></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>]

## pandas 코드 한 줄로 데이터 수집

In [46]:
# table 태그로 데이터가 되어있을 때 가능
# 다른 태그라면 BS를 이용
table = pd.read_html(response.text)

In [47]:
table[0]

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2022.09.28  52900.0  1300.0  53900.0  54400.0  52800.0  12177199.0
2   2022.09.27  54200.0   300.0  53800.0  54200.0  53500.0  16631289.0
3   2022.09.26  53900.0   600.0  53700.0  54200.0  53600.0  15008449.0
4   2022.09.23  54500.0   100.0  54400.0  54900.0  54200.0  10555964.0
5   2022.09.22  54400.0   900.0  54600.0  54700.0  54300.0  12786510.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2022.09.21  55300.0   500.0  55400.0  55500.0  55000.0  11863700.0
10  2022.09.20  55800.0   600.0  56400.0  57000.0  55800.0  14041465.0
11  2022.09.19  56400.0   200.0  56300.0  57000.0  56000.0  12278653.0
12  2022.09.16  56200.0   200.0  55600.0  56400.0  55500.0  13456503.0
13  2022.09.15  56000.0   800.0  57000.0  57100.0  56000.0  11664819.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [48]:
table[1]

   0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤

In [52]:
temp = table[0]
temp

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2022.09.28  52900.0  1300.0  53900.0  54400.0  52800.0  12177199.0
2   2022.09.27  54200.0   300.0  53800.0  54200.0  53500.0  16631289.0
3   2022.09.26  53900.0   600.0  53700.0  54200.0  53600.0  15008449.0
4   2022.09.23  54500.0   100.0  54400.0  54900.0  54200.0  10555964.0
5   2022.09.22  54400.0   900.0  54600.0  54700.0  54300.0  12786510.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2022.09.21  55300.0   500.0  55400.0  55500.0  55000.0  11863700.0
10  2022.09.20  55800.0   600.0  56400.0  57000.0  55800.0  14041465.0
11  2022.09.19  56400.0   200.0  56300.0  57000.0  56000.0  12278653.0
12  2022.09.16  56200.0   200.0  55600.0  56400.0  55500.0  13456503.0
13  2022.09.15  56000.0   800.0  57000.0  57100.0  56000.0  11664819.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [53]:
# 결측치 있는 row 제거
temp.dropna()

            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.09.28  52900.0  1300.0  53900.0  54400.0  52800.0  12177199.0
2   2022.09.27  54200.0   300.0  53800.0  54200.0  53500.0  16631289.0
3   2022.09.26  53900.0   600.0  53700.0  54200.0  53600.0  15008449.0
4   2022.09.23  54500.0   100.0  54400.0  54900.0  54200.0  10555964.0
5   2022.09.22  54400.0   900.0  54600.0  54700.0  54300.0  12786510.0
9   2022.09.21  55300.0   500.0  55400.0  55500.0  55000.0  11863700.0
10  2022.09.20  55800.0   600.0  56400.0  57000.0  55800.0  14041465.0
11  2022.09.19  56400.0   200.0  56300.0  57000.0  56000.0  12278653.0
12  2022.09.16  56200.0   200.0  55600.0  56400.0  55500.0  13456503.0
13  2022.09.15  56000.0   800.0  57000.0  57100.0  56000.0  11664819.0

## 일자별 시세를 페이지별로 수집

In [89]:
def get_day_list(item_code, page_no):
    """
    일자별 시세를 페이지별로 수집
    1) url 을 만든다.
    2) requests 를 통해 html 문서를 받음
    3) read_html을 통해 table 태그를 읽어 옴
    4) 결측행을 제거
    5) 데이터프레임 반환
    """
    
    # 일자별 시세를 출력하는 url
    url = f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}"
    
    # html 문서 받기
    res = requests.get(url, headers={"user-agent": "Mozilla/5.0"})
    
    # html 문서에서 table 태그 읽기
    table = pd.read_html(res.text)
    
    # 데이터 전처리
    df = table[0]
    df = df.dropna()
    df = df.reset_index(drop=True)
    
    return df

In [123]:
# LG 에너지솔루션
item_code = 373220
item_name = "LG 에너지솔루션"
page_no = 1

get_day_list(item_code, page_no)

           날짜        종가      전일비        시가        고가        저가       거래량
0  2022.09.28  431000.0  13000.0  444000.0  451500.0  427000.0  419021.0
1  2022.09.27  444000.0   2500.0  447500.0  451000.0  435000.0  365111.0
2  2022.09.26  446500.0  14000.0  453000.0  458000.0  440000.0  446277.0
3  2022.09.23  460500.0  28000.0  489000.0  489500.0  460000.0  434212.0
4  2022.09.22  488500.0   9000.0  475500.0  492000.0  473500.0  270673.0
5  2022.09.21  479500.0   4000.0  481500.0  487500.0  476500.0  251723.0
6  2022.09.20  483500.0   6000.0  484000.0  491000.0  475500.0  321658.0
7  2022.09.19  477500.0  28500.0  507000.0  507000.0  475000.0  524253.0
8  2022.09.16  506000.0   5000.0  512000.0  516000.0  501000.0  975540.0
9  2022.09.15  511000.0  12500.0  499500.0  513000.0  497500.0  447162.0

## 반복문으로 전체 일자 데이터 수집

In [92]:
# 조은님 코드
item_code = "403550"
item_name = "쏘카"
page_no = 1

item_list = []
curr_day = None

while True:
    # 한 페이지의 일별 시세 수집
    df_item = get_day_list(item_code, page_no)
    # 해당 데이터의 마지막 날짜 가져옴
    last_day = df_item.iloc[-1]["날짜"]
    print(page_no, curr_day, last_day)
    
    # 해당 데이터의 마지막 날짜와 이전 데이터의 마지막 날짜를 비교
    # 맨 첫 데이터에는 이전 데이터 날짜가 없기 때문에 반복문 밖에서 초기화
    if last_day == curr_day:
        break
        
    curr_day = last_day
    item_list.append(df_item)
    page_no += 1

1 None 2022.09.15
2 2022.09.15 2022.08.30
3 2022.08.30 2022.08.22
4 2022.08.22 2022.08.22

In [104]:
import time

# 시작 page_no
page_no = 1

# 데이터 저장할 list
item_list = []
pre_date = None

while True:
    temp = get_day_list(item_code, page_no)
    
    # 날짜 추출
    cur_date = temp.iloc[-1][0]
    print(page_no, cur_date, pre_date)
    
    if pre_date == cur_date:
        break
    
    page_no += 1
    item_list.append(temp)
    pre_date = cur_date

1 2022.09.15 None
2 2022.08.30 2022.09.15
3 2022.08.16 2022.08.30
4 2022.08.01 2022.08.16
5 2022.07.18 2022.08.01
6 2022.07.04 2022.07.18
7 2022.06.20 2022.07.04
8 2022.06.03 2022.06.20
9 2022.05.19 2022.06.03
10 2022.05.04 2022.05.19
11 2022.04.20 2022.05.04
12 2022.04.06 2022.04.20
13 2022.03.23 2022.04.06
14 2022.03.08 2022.03.23
15 2022.02.21 2022.03.08
16 2022.02.07 2022.02.21
17 2022.01.27 2022.02.07
18 2022.01.27 2022.01.27

In [108]:
df_day = pd.concat(item_list).reset_index(drop=True)
df_day

             날짜        종가      전일비        시가        고가        저가         거래량
0    2022.09.28  436000.0   8000.0  444000.0  451500.0  427000.0    403887.0
1    2022.09.27  444000.0   2500.0  447500.0  451000.0  435000.0    365111.0
2    2022.09.26  446500.0  14000.0  453000.0  458000.0  440000.0    446277.0
3    2022.09.23  460500.0  28000.0  489000.0  489500.0  460000.0    434212.0
4    2022.09.22  488500.0   9000.0  475500.0  492000.0  473500.0    270673.0
..          ...       ...      ...       ...       ...       ...         ...
159  2022.02.07  548000.0  44000.0  520000.0  548000.0  511000.0   1911176.0
160  2022.02.04  504000.0  27000.0  476500.0  505000.0  476000.0   2088996.0
161  2022.02.03  477000.0  27000.0  458000.0  495500.0  441000.0   2918435.0
162  2022.01.28  450000.0  55000.0  476000.0  483000.0  445000.0   4559773.0
163  2022.01.27  505000.0  92000.0  597000.0  598000.0  450000.0  15946992.0

[164 rows x 7 columns]

In [111]:
df_day.to_csv("LG_ensol_daily_chart", index=False)

In [112]:
pd.read_csv("LG_ensol_daily_chart")

             날짜        종가      전일비        시가        고가        저가         거래량
0    2022.09.28  436000.0   8000.0  444000.0  451500.0  427000.0    403887.0
1    2022.09.27  444000.0   2500.0  447500.0  451000.0  435000.0    365111.0
2    2022.09.26  446500.0  14000.0  453000.0  458000.0  440000.0    446277.0
3    2022.09.23  460500.0  28000.0  489000.0  489500.0  460000.0    434212.0
4    2022.09.22  488500.0   9000.0  475500.0  492000.0  473500.0    270673.0
..          ...       ...      ...       ...       ...       ...         ...
159  2022.02.07  548000.0  44000.0  520000.0  548000.0  511000.0   1911176.0
160  2022.02.04  504000.0  27000.0  476500.0  505000.0  476000.0   2088996.0
161  2022.02.03  477000.0  27000.0  458000.0  495500.0  441000.0   2918435.0
162  2022.01.28  450000.0  55000.0  476000.0  483000.0  445000.0   4559773.0
163  2022.01.27  505000.0  92000.0  597000.0  598000.0  450000.0  15946992.0

[164 rows x 7 columns]

## 파생변수 만들기

In [125]:
df_day["종목코드"] = item_code
df_day["종목명"] = item_name

## 컬럼 순서 변경

In [136]:
cols = ['종목코드', '종목명', '날짜', '종가', '시가', '고가', '저가', '거래량']
df_day = df_day[cols]
df_day.head(2)

,종목코드,종목명,날짜,종가,시가,고가,저가,거래량
0,373220,LG 에너지솔루션,2022.09.28,436000.0,444000.0,451500.0,427000.0,403887.0
1,373220,LG 에너지솔루션,2022.09.27,444000.0,447500.0,451000.0,435000.0,365111.0

In [137]:
# 기술통계
df_day.describe()

,종목코드,종가,시가,고가,저가,거래량
count,164.0,164.000000,164.000000,164.000000,164.000000,1.640000e+02
mean,373220.0,431082.317073,431490.853659,438655.487805,423557.926829,6.582937e+05
std,0.0,36015.047871,38341.597993,39199.253863,34055.278024,1.357067e+06
min,373220.0,356000.000000,356500.000000,361000.000000,352000.000000,1.156520e+05
25%,373220.0,407375.000000,404125.000000,411750.000000,398375.000000,2.555085e+05
50%,373220.0,432500.000000,433750.000000,438000.000000,424500.000000,3.620820e+05
75%,373220.0,451125.000000,450000.000000,455000.000000,444250.000000,5.236418e+05
max,373220.0,548000.000000,597000.000000,598000.000000,524000.000000,1.594699e+07

In [138]:
date = df_day.iloc[0]["날짜"]
date

'2022.09.28'

In [139]:
file_name = f"{item_name}_{item_code}_{date}.csv"
file_name

'LG 에너지솔루션_373220_2022.09.28.csv'

In [140]:
df_day.to_csv(file_name, index=False)

In [141]:
pd.read_csv(file_name)

,종목코드,종목명,날짜,종가,시가,고가,저가,거래량
0,373220,LG 에너지솔루션,2022.09.28,436000.0,444000.0,451500.0,427000.0,403887.0
1,373220,LG 에너지솔루션,2022.09.27,444000.0,447500.0,451000.0,435000.0,365111.0
2,373220,LG 에너지솔루션,2022.09.26,446500.0,453000.0,458000.0,440000.0,446277.0
3,373220,LG 에너지솔루션,2022.09.23,460500.0,489000.0,489500.0,460000.0,434212.0
4,373220,LG 에너지솔루션,2022.09.22,488500.0,475500.0,492000.0,473500.0,270673.0
...,...,...,...,...,...,...,...,...
159,373220,LG 에너지솔루션,2022.02.07,548000.0,520000.0,548000.0,511000.0,1911176.0
160,373220,LG 에너지솔루션,2022.02.04,504000.0,476500.0,505000.0,476000.0,2088996.0
161,373220,LG 에너지솔루션,2022.02.03,477000.0,458000.0,495500.0,441000.0,2918435.0
162,373220,LG 에너지솔루션,2022.01.28,450000.0,476000.0,483000.0,445000.0,4559773.0
163,373220,LG 에너지솔루션,2022.01.27,505000.0,597000.0,598000.0,450000.0,15946992.0

## 전체 과정을 하나의 함수로 만들기

In [149]:
import time


def get_item_list(item_code, item_name):
    
    page_no = 1

    item_list = []
    pre_date = None

    while True:
        temp = get_day_list(item_code, page_no)

        # 날짜 추출
        cur_date = temp.iloc[-1][0]

        if pre_date == cur_date:
            break

        page_no += 1
        item_list.append(temp)
        pre_date = cur_date

    time.sleep(0.5)
    
    df_day = pd.concat(item_list)
    
    df_day["종목코드"] = item_code
    df_day["종목명"] = item_name
    
    # 파일 이름 위한 최신 날짜
    date = df_day.iloc[0]["날짜"]
    
    cols = ['종목코드', '종목명', '날짜', '종가', '시가', '고가', '저가', '거래량']
    df_day = df_day[cols]
    df_day = df_day.drop_duplicates()
          
    file_name = f"{item_name}_{item_code}_{date}.csv"
    df_day.to_csv(file_name, index=False)
    return file_name

In [150]:
get_item_list(323410, "카카오뱅크")

'카카오뱅크_323410_2022.09.28.csv'