In [1]:
!pip install -U finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.42-py3-none-any.whl (17 kB)
Requirement already satisfied: lxml in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from finance-datareader) (4.9.1)
Requirement already satisfied: tqdm in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from finance-datareader) (4.64.0)
Requirement already satisfied: requests>=2.3.0 in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from finance-datareader) (2.28.1)
Requirement already satisfied: pandas>=0.19.2 in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from finance-datareader) (1.3.5)
Requirement already satisfied: requests-file in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (2022.1)
Requirement already satisfied: numpy>=1.20.0 in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (1.23.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (3.3)
Requirement already satisfied: six in /Users/jahyeon_gu/.pyenv/versions/anaconda3-2022.05/lib/python3.8/site-packages (from requests-file->finance-datareader) (1.16.0)
Installing collected packages: finance-datareader
Successfully installed finance-datareader-0.9.42

## 라이브러리 불러오기

In [2]:
import pandas as pd
import numpy as np

In [3]:
import FinanceDataReader as fdr

fdr.__version__

'0.9.42'

## 한국거래소 상장종목 전체 가져오기

In [4]:
# KRX : KRX 종목 전체
# KOSPI : KOSPI 종목
# KOSDAQ : KOSDAQ 종목
# KONEX : KONEX 종목
# NASDAQ : 나스닥 종목
# NYSE : 뉴욕증권거래소 종목
# SP500 : S&P500 종목

fdr.StockListing??

In [8]:
df = fdr.StockListing(market="KRX")

In [9]:
df.shape

(7890, 10)

In [10]:
df.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [11]:
df.tail()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
7885,435550,KOSPI,히어로즈 TDF2050액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7886,437550,KOSPI,히어로즈 글로벌리츠이지스액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7887,419890,KOSPI,히어로즈 단기채권ESG액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7888,429870,KOSPI,히어로즈 리츠이지스액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7889,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [12]:
# 금융상품, 채권 등이 포함되어 있어서 결측치가 많음 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7890 entries, 0 to 7889
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7890 non-null   object
 1   Market          7890 non-null   object
 2   Name            7890 non-null   object
 3   Sector          2526 non-null   object
 4   Industry        2510 non-null   object
 5   ListingDate     2526 non-null   datetime64[ns]
 6   SettleMonth     2526 non-null   object
 7   Representative  2526 non-null   object
 8   HomePage        2368 non-null   object
 9   Region          2525 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 678.0+ KB

In [14]:
df.describe()

/var/folders/ql/gbsdt1191mbf_hk8mhnwwpd80000gn/T/ipykernel_9601/3627053830.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,7890,7890,7890,2526,2510,2526,2526,2526,2368,2525
unique,7890,3,7890,161,2346,1879,8,2405,2346,22
top,060310,KOSPI,3S,소프트웨어 개발 및 공급업,기업인수합병,1976-06-30 00:00:00,12월,김현수,http://www.ibks.com,서울특별시
freq,1,6168,1,155,29,8,2467,4,3,1028
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2022-09-27 00:00:00,NaN,NaN,NaN,NaN

In [15]:
# 가장 마지막에 상장된 종목 확인
df.sort_values(ascending=False, by="ListingDate")

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
5831,413300,KONEX,티엘엔지니어링,"건축기술, 엔지니어링 및 관련 기술 서비스업",클린룸 설계 및 시공,2022-09-27,12월,서충옥,http://tleng.kr,경기도
5167,394280,KOSDAQ,오픈엣지테크놀로지,소프트웨어 개발 및 공급업,시스템 반도체 IP,2022-09-26,12월,이성현,http://www.openedges.com,서울특별시
5626,436530,KOSDAQ,케이비제22호스팩,금융 지원 서비스업,기업인수목적,2022-09-22,12월,오동출,NaN,서울특별시
5981,427950,KOSDAQ,하나금융23호스팩,금융 지원 서비스업,기업인수합병,2022-09-15,12월,박기일,NaN,서울특별시
5758,433530,KOSDAQ,키움제7호스팩,금융 지원 서비스업,기업 인수합병,2022-09-07,12월,박정근,NaN,서울특별시
...,...,...,...,...,...,...,...,...,...,...
7884,435540,KOSPI,히어로즈 TDF2040액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7885,435550,KOSPI,히어로즈 TDF2050액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7886,437550,KOSPI,히어로즈 글로벌리츠이지스액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7887,419890,KOSPI,히어로즈 단기채권ESG액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7888,429870,KOSPI,히어로즈 리츠이지스액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [21]:
# 파일로 저장
# 엑셀에서도 열고 싶다면 encoding="cp949"
# mac에서는 utf8이 기본
df.to_csv("krx.csv", index=False, encoding="cp949")

In [22]:
pd.read_csv("krx.csv", encoding="cp949")

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
7885,435550,KOSPI,히어로즈 TDF2050액티브,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7886,437550,KOSPI,히어로즈 글로벌리츠이지스액티브,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7887,419890,KOSPI,히어로즈 단기채권ESG액티브,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7888,429870,KOSPI,히어로즈 리츠이지스액티브,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7889,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시