In [1]:
import pandas as pd
from glob import glob

file_names = sorted(glob('data/2022*.xls'))
file_names

['data/2022년 01월  교통카드 통계자료.xls',
 'data/2022년 02월  교통카드 통계자료.xls',
 'data/2022년 03월  교통카드 통계자료.xls',
 'data/2022년 04월  교통카드 통계자료.xls',
 'data/2022년 05월  교통카드 통계자료.xls',
 'data/2022년 06월  교통카드 통계자료.xls',
 'data/2022년 07월  교통카드 통계자료.xls',
 'data/2022년 08월  교통카드 통계자료.xls',
 'data/2022년 09월  교통카드 통계자료.xls']

In [2]:
sheets = ['버스정류장별 이용현황', '지하철 노션별 역별 이용현황', '지하철 유무임별 이용현황', '지하철 시간대별 이용현황']

In [3]:
df_columns = ['사용월', '노선ID', '노선번호', '노선명', '버스정류장ID', '버스정류장명', '승차승객수', '하차승객수','작업일시']

In [11]:
# df = pd.read_excel("엑셀 파일 경로", sheet_name = "불러올 시트 이름")
raw = pd.DataFrame(columns=df_columns)
for file_name in file_names:
    df = pd.read_excel(file_name, sheet_name=sheets[0])
    raw = pd.concat([raw, df], ignore_index=True)
    print(raw.shape)

(39159, 9)
(78241, 9)
(117324, 9)
(157534, 9)
(197862, 9)
(238399, 9)
(278452, 9)
(318526, 9)
(358608, 9)

In [12]:
raw.to_csv("data/2022_tmoney.csv", index=False)

In [103]:
df = pd.read_csv("data/2022_tmoney.csv")
df.head()

,사용월,노선ID,노선번호,노선명,버스정류장ID,버스정류장명,승차승객수,하차승객수,작업일시
0,2022-01,11110897,0017,0017번(청암동~이촌동),1,청암자이아파트,453,12,2022-02-03 08:49:57
1,2022-01,11110897,0017,0017번(청암동~이촌동),2,청암동강변삼성아파트,"1,328",43,2022-02-03 08:49:57
2,2022-01,11110897,0017,0017번(청암동~이촌동),3,청심경로당,"2,420",45,2022-02-03 08:49:57
3,2022-01,11110897,0017,0017번(청암동~이촌동),4,원효2동주민센터,"4,196",95,2022-02-03 08:49:57
4,2022-01,11110897,0017,0017번(청암동~이촌동),5,산천동,"5,255",206,2022-02-03 08:49:57

In [104]:
df = df.drop("작업일시" ,axis=1)

In [105]:
df.shape

(358608, 8)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358608 entries, 0 to 358607
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   사용월      358608 non-null  object
 1   노선ID     358608 non-null  int64
 2   노선번호     358608 non-null  object
 3   노선명      358608 non-null  object
 4   버스정류장ID  358608 non-null  int64
 5   버스정류장명   358608 non-null  object
 6   승차승객수    358608 non-null  object
 7   하차승객수    358608 non-null  object
dtypes: int64(2), object(6)
memory usage: 21.9+ MB

In [107]:
# 문자 타입 숫자 단위 구분자 삭제
df["승차승객수"] = df["승차승객수"].str.replace(",", "")
df["하차승객수"] = df["하차승객수"].str.replace(",", "")

In [108]:
# int 로 변환
df["승차승객수"] = pd.to_numeric(df["승차승객수"])
df["하차승객수"] = pd.to_numeric(df["하차승객수"])

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358608 entries, 0 to 358607
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   사용월      358608 non-null  object
 1   노선ID     358608 non-null  int64
 2   노선번호     358608 non-null  object
 3   노선명      358608 non-null  object
 4   버스정류장ID  358608 non-null  int64
 5   버스정류장명   358608 non-null  object
 6   승차승객수    358608 non-null  int64
 7   하차승객수    358608 non-null  int64
dtypes: int64(4), object(4)
memory usage: 21.9+ MB

In [111]:
df["이용객"] = df["승차승객수"] + df["하차승객수"]
df

,사용월,노선ID,노선번호,노선명,버스정류장ID,버스정류장명,승차승객수,하차승객수,이용객
0,2022-01,11110897,0017,0017번(청암동~이촌동),1,청암자이아파트,453,12,465
1,2022-01,11110897,0017,0017번(청암동~이촌동),2,청암동강변삼성아파트,1328,43,1371
2,2022-01,11110897,0017,0017번(청암동~이촌동),3,청심경로당,2420,45,2465
3,2022-01,11110897,0017,0017번(청암동~이촌동),4,원효2동주민센터,4196,95,4291
4,2022-01,11110897,0017,0017번(청암동~이촌동),5,산천동,5255,206,5461
...,...,...,...,...,...,...,...,...,...
358603,2022-09,11110729,중랑02,중랑02(진로아파트~한신아파트),22,서일대정문,141,6056,6197
358604,2022-09,11110729,중랑02,중랑02(진로아파트~한신아파트),23,새마을금고,586,5616,6202
358605,2022-09,11110729,중랑02,중랑02(진로아파트~한신아파트),24,공판장,43,7038,7081
358606,2022-09,11110729,중랑02,중랑02(진로아파트~한신아파트),25,진주빌라.바다약국,29,9723,9752
358607,2022-09,11110729,중랑02,중랑02(진로아파트~한신아파트),26,진로아파트앞.종점,72,3003,3075

* 노선별, 버스정류장 id별 그룹화
* 정류장 id 별 위경도
* 승하차가 많은 곳은 정류장 차선 분리
* 정류장명 별 그룹화 -> 한 정류장을 지나는 여러 노선 존재 -> 그 정류장에서 승차하는 승객 노선별 비율

In [112]:
df_temp = df.groupby(["사용월", "버스정류장명"])[["승차승객수", "하차승객수", "이용객"]].sum()
df_temp = df_temp.rename(columns={"승차승객수":"승차승객수 합", "하차승객수":'하차승객수 합', "이용객":"이용객 합"})
df_temp

                         승차승객수 합  하차승객수 합  이용객 합
사용월     버스정류장명
2022-01 (구)경남호텔앞            3556    17016  20572
        (구)법화사               454      697   1151
        1156번종점             1166     1104   2270
        11단지                5341     1038   6379
        123전자타운.2001아울렛    13626    16365  29991
...                          ...      ...    ...
2022-09 힐스테이트판교엘포레4단지        830      199   1029
        힐스테이트판교엘포레6단지        188      212    400
        힐스테이트판교엘포레6단지후문      237       91    328
        힐탑                   111      668    779
        힐튼호텔               10501    30007  40508

[72251 rows x 3 columns]

In [113]:
df_temp2 = df.groupby(["사용월", "버스정류장명", "노선명"])[["승차승객수", "하차승객수", "이용객"]].sum()
df_temp2

                                                승차승객수  하차승객수    이용객
사용월     버스정류장명          노선명
2022-01 (구)경남호텔앞        2112번(면목동~성북동)            614   4105   4719
                        2233번(면목동~옥수동)           2161   8619  10780
                        2416번(중랑공영차고지~삼성역)        781   4292   5073
        (구)법화사          성북02(한성대학교~우리옛돌박물관)       454    697   1151
        1156번종점         1156번(퇴계원쌍용예가아파트~석계역)    1166   1104   2270
...                                               ...    ...    ...
2022-09 힐스테이트판교엘포레6단지후문 9409번(구미동차고지~신사역)         237     91    328
        힐탑              8003번(평창동주민센터~평창동주민센터)    111    668    779
        힐튼호텔            01번(예장주차장~예장주차장)         1367   9979  11346
                        402번(장지공영차고지~광화문)        6403  14381  20784
                        405번(염곡동~시청광장)           2731   5647   8378

[253686 rows x 3 columns]

In [114]:
df_merge = pd.merge(df_temp.reset_index(), df_temp2.reset_index(), on=["사용월", "버스정류장명"])

In [115]:
df_merge.head(10)

,사용월,버스정류장명,승차승객수 합,하차승객수 합,이용객 합,노선명,승차승객수,하차승객수,이용객
0,2022-01,(구)경남호텔앞,3556,17016,20572,2112번(면목동~성북동),614,4105,4719
1,2022-01,(구)경남호텔앞,3556,17016,20572,2233번(면목동~옥수동),2161,8619,10780
2,2022-01,(구)경남호텔앞,3556,17016,20572,2416번(중랑공영차고지~삼성역),781,4292,5073
3,2022-01,(구)법화사,454,697,1151,성북02(한성대학교~우리옛돌박물관),454,697,1151
4,2022-01,1156번종점,1166,1104,2270,1156번(퇴계원쌍용예가아파트~석계역),1166,1104,2270
5,2022-01,11단지,5341,1038,6379,5530번(군포공영차고지~사당역),5341,1038,6379
6,2022-01,123전자타운.2001아울렛,13626,16365,29991,구로05(오류중학교~개봉역),6777,7184,13961
7,2022-01,123전자타운.2001아울렛,13626,16365,29991,구로06(개봉역~센츄리아파트),6849,9181,16030
8,2022-01,12번지건영아파트,7833,8706,16539,은평03(갈현동12번지~연신내역),7833,8706,16539
9,2022-01,13단지아파트입구,3858,6399,10257,541번(군포공영차고지~강남역),947,2178,3125

In [116]:
# 컬럼 재배치
df_merge = df_merge[["사용월", "버스정류장명", "노선명", "승차승객수", "하차승객수", "이용객", "승차승객수 합", "하차승객수 합", "이용객 합"]]
df_merge.head(10)

,사용월,버스정류장명,노선명,승차승객수,하차승객수,이용객,승차승객수 합,하차승객수 합,이용객 합
0,2022-01,(구)경남호텔앞,2112번(면목동~성북동),614,4105,4719,3556,17016,20572
1,2022-01,(구)경남호텔앞,2233번(면목동~옥수동),2161,8619,10780,3556,17016,20572
2,2022-01,(구)경남호텔앞,2416번(중랑공영차고지~삼성역),781,4292,5073,3556,17016,20572
3,2022-01,(구)법화사,성북02(한성대학교~우리옛돌박물관),454,697,1151,454,697,1151
4,2022-01,1156번종점,1156번(퇴계원쌍용예가아파트~석계역),1166,1104,2270,1166,1104,2270
5,2022-01,11단지,5530번(군포공영차고지~사당역),5341,1038,6379,5341,1038,6379
6,2022-01,123전자타운.2001아울렛,구로05(오류중학교~개봉역),6777,7184,13961,13626,16365,29991
7,2022-01,123전자타운.2001아울렛,구로06(개봉역~센츄리아파트),6849,9181,16030,13626,16365,29991
8,2022-01,12번지건영아파트,은평03(갈현동12번지~연신내역),7833,8706,16539,7833,8706,16539
9,2022-01,13단지아파트입구,541번(군포공영차고지~강남역),947,2178,3125,3858,6399,10257

In [117]:
df_merge.sort_values(["버스정류장명", "사용월"]).head(10)

,사용월,버스정류장명,노선명,승차승객수,하차승객수,이용객,승차승객수 합,하차승객수 합,이용객 합
0,2022-01,(구)경남호텔앞,2112번(면목동~성북동),614,4105,4719,3556,17016,20572
1,2022-01,(구)경남호텔앞,2233번(면목동~옥수동),2161,8619,10780,3556,17016,20572
2,2022-01,(구)경남호텔앞,2416번(중랑공영차고지~삼성역),781,4292,5073,3556,17016,20572
27685,2022-02,(구)경남호텔앞,2112번(면목동~성북동),622,3333,3955,2951,14451,17402
27686,2022-02,(구)경남호텔앞,2233번(면목동~옥수동),1612,6889,8501,2951,14451,17402
27687,2022-02,(구)경남호텔앞,2416번(중랑공영차고지~삼성역),717,4229,4946,2951,14451,17402
55329,2022-03,(구)경남호텔앞,2112번(면목동~성북동),732,3616,4348,3572,16143,19715
55330,2022-03,(구)경남호텔앞,2233번(면목동~옥수동),1871,7554,9425,3572,16143,19715
55331,2022-03,(구)경남호텔앞,2416번(중랑공영차고지~삼성역),969,4973,5942,3572,16143,19715
82966,2022-04,(구)경남호텔앞,2112번(면목동~성북동),727,4091,4818,3717,18282,21999

In [71]:
df_test = pd.read_csv("data/2022_tmoney_xy.csv")
df_test

,NODE_ID,ARS-ID,정류소명,좌표X,좌표Y,사용월,노선ID,노선번호,노선명,버스정류장ID,버스정류장명,승차승객수,하차승객수,작업일시
0,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,11410003,470,470번(상암차고지~안골마을),67,종로2가사거리,"6,421","5,295",2022-02-03 08:49:58
1,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,11110434,741,741번(진관차고지~헌인릉입구),77,종로2가사거리,"5,318","5,046",2022-02-03 08:49:56
2,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,41110152,N37,N37번(송파공영차고지~진관공영차고지),32,종로2가사거리,43,143,2022-02-03 08:49:58
3,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,41110153,N37,N37번(진관공영차고지~송파공영차고지),89,종로2가사거리,107,189,2022-02-03 08:49:58
4,100000001,1001,종로2가사거리,126.987786,37.569764,2022-02,11410003,470,470번(상암차고지~안골마을),67,종로2가사거리,"5,341","4,397",2022-03-03 11:02:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677654,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-05,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,12,489,2022-06-13 17:02:23
677655,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-06,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,10,501,2022-07-03 09:47:56
677656,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-07,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,10,508,2022-08-03 09:32:38
677657,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-08,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,7,483,2022-09-03 10:18:19
677658,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-09,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,14,523,2022-10-03 09:13:34

In [75]:
df

,사용월,노선ID,노선번호,노선명,버스정류장ID,버스정류장명,승차승객수,하차승객수,이용객
0,2022-01,11110897,0017,0017번(청암동~이촌동),1,청암자이아파트,453,12,465
1,2022-01,11110897,0017,0017번(청암동~이촌동),2,청암동강변삼성아파트,1328,43,1371
2,2022-01,11110897,0017,0017번(청암동~이촌동),3,청심경로당,2420,45,2465
3,2022-01,11110897,0017,0017번(청암동~이촌동),4,원효2동주민센터,4196,95,4291
4,2022-01,11110897,0017,0017번(청암동~이촌동),5,산천동,5255,206,5461
...,...,...,...,...,...,...,...,...,...
358603,2022-09,11110729,중랑02,중랑02(진로아파트~한신아파트),22,서일대정문,141,6056,6197
358604,2022-09,11110729,중랑02,중랑02(진로아파트~한신아파트),23,새마을금고,586,5616,6202
358605,2022-09,11110729,중랑02,중랑02(진로아파트~한신아파트),24,공판장,43,7038,7081
358606,2022-09,11110729,중랑02,중랑02(진로아파트~한신아파트),25,진주빌라.바다약국,29,9723,9752
358607,2022-09,11110729,중랑02,중랑02(진로아파트~한신아파트),26,진로아파트앞.종점,72,3003,3075

In [74]:
df_test = df_test.drop(columns="작업일시")
df_test

,NODE_ID,ARS-ID,정류소명,좌표X,좌표Y,사용월,노선ID,노선번호,노선명,버스정류장ID,버스정류장명,승차승객수,하차승객수
0,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,11410003,470,470번(상암차고지~안골마을),67,종로2가사거리,"6,421","5,295"
1,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,11110434,741,741번(진관차고지~헌인릉입구),77,종로2가사거리,"5,318","5,046"
2,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,41110152,N37,N37번(송파공영차고지~진관공영차고지),32,종로2가사거리,43,143
3,100000001,1001,종로2가사거리,126.987786,37.569764,2022-01,41110153,N37,N37번(진관공영차고지~송파공영차고지),89,종로2가사거리,107,189
4,100000001,1001,종로2가사거리,126.987786,37.569764,2022-02,11410003,470,470번(상암차고지~안골마을),67,종로2가사거리,"5,341","4,397"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
677654,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-05,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,12,489
677655,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-06,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,10,501
677656,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-07,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,10,508
677657,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-08,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,7,483
677658,124900128,25764,강빛초.중학교,127.172355,37.574115,2022-09,41110200,강동02,강동02(가래여울~암사동서원마을),76,강빛초.중학교,14,523

In [76]:
df_test.isnull().sum()

NODE_ID    0
ARS-ID     0
정류소명       0
좌표X        0
좌표Y        0
사용월        0
노선ID       0
노선번호       0
노선명        0
버스정류장ID    0
버스정류장명     0
승차승객수      0
하차승객수      0
dtype: int64